body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.h2{
  font-size: 50px;
}
.desc {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}


.heading {
  font-family: 'Roboto Slab', serif;
}

.about-section {
  display: inline-block;
}

.about-content1,
.about-content3{
  display: block;
  width: 50%;
  color: white;
  top: 25%;
  left: 0;
  transform: translateX(-100%);
  animation: slide-in 2s forwards;
}

.about-content2 {
  display: block;
  width: 50%;
  color: white;
  top: 25%;
  left: 0;
  left: 50%;
  animation: content2-slide-in 2s forwards;
}

.about-content3{
  position: relative;
  top : 150px;
}

.right {
  position : absolute;
  left: 51%;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-out {
  animation: slide-out 2s forwards;
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes content2-slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
  
}

@keyframes content2-slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
  
}