body{
  background-color: #183D3D;
}
.desc{
  font-family: 'Quicksand', sans-serif;
  font-size: 75px;
}
.AB{
  width: 50%;
  font-size: 38px;
}

.about-section {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.heading{
  font-family: 'Roboto Slab', serif;
}

.about-content {
  position: absolute;
  top: 25%;
  left: 0;
  transform: translateX(-100%);
  animation: slide-in 1s forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-out {
  animation: slide-out 2s forwards;
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
